<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body>
		<h1>Actuators</h1>
		<h2> Status </h2>
		<h3> LED0 ==>  {{ led0  }}</h3>
		<h3> LED1 ==>  {{ led1  }}</h3>
		<h3> LED2 ==>  {{ led2  }}</h3>
		<h3> LED3 ==>  {{ led3  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			LED0 Ctrl ==> 
			<a href="/led0/ON" class="button">TURN ON</a>  
			<a href="/led0/OFF"class="button">TURN OFF</a>
		</h3>
		<h3> 
			LED1 Ctrl ==> 
			<a href="/led1/ON" class="button">TURN ON</a>  
			<a href="/led1/OFF"class="button">TURN OFF</a>
		</h3>
		<h3> 
			LED2 Ctrl ==> 
			<a href="/led2/ON" class="button">TURN ON</a>  
			<a href="/led2/OFF"class="button">TURN OFF</a>
		</h3>
		
		<h3> 
			LED3 Ctrl ==> 
			<a href="/led3/ON" class="button">TURN ON</a>  
			<a href="/led3/OFF"class="button">TURN OFF</a>
		</h3>

   </body>
</html>